<form (ngSubmit)="login()" [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-form-field>
    <input formControlName="email" matInput type="email" placeholder="Your email...">
    <mat-hint>Enter a valid email address.</mat-hint>
    <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required.</mat-error>
    <mat-error *ngIf="loginForm.get('email').hasError('email')">Email is invalid.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password" matInput type="password" placeholder="Your password...">
    <mat-hint>Enter a valid password.</mat-hint>
    <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required.</mat-error>
    <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Password must be at least 6 symbols.</mat-error>
  </mat-form-field>
  <button [disabled]="loginForm.invalid" mat-raised-button type="submit" color="primary">Log In</button>
</form>